.hmenu {
	z-index:1000000;
	top:0px;
}
ul#hmenu {
	margin: 0;
	border: 0 none;
	padding: 0;
  	list-style: none;
  	height: 24px;
	font: plain 12px  Arial;
	z-index:1000000;
}

ul#hmenu li {
	margin: 0;
	_padding: 0;
	float: left;
	display: inline;
	list-style: none;
	position: relative;
	height: 24px;
	z-index:1000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
}

ul#hmenu ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: auto;
	list-style: none;
	display: none;
	position: absolute;
	_top: 30px;
	left: 0;
	z-index:1000000;
}

ul#hmenu ul:after {
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
	z-index:1000000;
}

ul#hmenu ul li {
	width: 200px;
	float: left;
	display: block !important;
	display: inline;
	z-index:1000000;
}

/* Main Menu */
ul#hmenu a {
	border: 0px;
	padding: 0 15px;
	float: none !important;
	float: left;
	display: block;
	color: #444444;
	text-decoration: none;
	height: auto !important;
	height: 1%;
	/*font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;*/
	line-height: 24px;
	font-weight: normal;
	z-index:1000000;

}

/* Main Menu Hover */
ul#hmenu a:hover,
ul#hmenu li:hover a,
ul#hmenu li.iehover a {
/*	background: #a3a3a3 url(button_hard.png) 0% 0% repeat-x;*/
/*	background: url(/admin/_admin_img/qmenu/adm_grad_h_24_hover.gif) 0% 0% repeat-x;*/
/*	background: #808298;   */
	color: #337ab7;
	z-index:1000000;
}

/* Second Menu */
ul#hmenu li:hover li a,
ul#hmenu li.iehover li a {
	border-top: 1px solid #FFFFFF;
	float: none;
	background: #777777;
	color: #FFFFFF;
	z-index:1000000;
}

/* Second Menu Hover */
ul#hmenu li:hover li a:hover,
ul#hmenu li:hover li:hover a,
ul#hmenu li.iehover li a:hover,
ul#hmenu li.iehover li.iehover a {
	border-top: 1px solid #FFFFFF;
	background: #808298;
	color: #FFFFFF;
	z-index:1000000;
}

ul#hmenu ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 160px;
	z-index:1000000;
}

ul#hmenu li:hover ul ul,
ul#hmenu li.iehover ul ul {
	display: none;
}

ul#hmenu li:hover ul,
ul#hmenu ul li:hover ul,
ul#hmenu li.iehover ul,
ul#hmenu ul li.iehover ul {
	display: block;
}


/* Right_menu */
.rmenu {
	z-index:1000000;
	top:0px;
}
ul#rmenu {
	margin: 0;
	border: 0 none;
	padding: 0;
  	list-style: none;
  	height: 24px;
	font: plain 12px  Arial;
	z-index:1000000;
}

ul#rmenu li {
	margin: 0;
	_padding: 0;
	float: right;
	display: inline;
	list-style: none;
	position: relative;
	/*height: 24px;*/
	z-index:1000000;
	border-bottom-width: none;
	border-bottom-style: solid;
	border-bottom-color: transparent;
}

ul#rmenu ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: auto;
	list-style: none;
	display: none;
	position: absolute;
	_top: 30px;
	right: 0;
	z-index:1000000;
}

ul#rmenu ul:after {
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
	z-index:1000000;
}

ul#rmenu ul li {
	width: auto;
	float: right;
	display: block !important;
	display: inline;
	z-index:1000000;
}

/* Main Menu */
ul#rmenu a {
	border-bottom: 1px;
	padding: 0;
	float: none !important;
	float: right;
	display: block;
	text-decoration: none;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	z-index:1000000;


}

/* Main Menu Hover */
ul#rmenu a:hover,
ul#rmenu li:hover a,
ul#rmenu li.iehover a {
	/*background: url(/admin/_admin_img/qmenu/adm_grad_h_24_hover.gif) 0% 0% repeat-x;*/
	z-index:1000000;
}

/* Second Menu */
ul#rmenu li:hover li a,
ul#rmenu li.iehover li a {
	border-top: 0px solid #FFFFFF;
	float: none;
	/*background: #ddd;*/
	color: #FFFFFF;
	z-index:1000000;
}

/* Second Menu Hover */
ul#rmenu li:hover li a:hover,
ul#rmenu li:hover li:hover a,
ul#rmenu li.iehover li a:hover,
ul#rmenu li.iehover li.iehover a {
	border-top: 0 solid #FFFFFF;
	/*background: #808298;*/
	color: #FFFFFF;
	z-index:1000000;
}

ul#rmenu ul ul {
	display: none;
	position: absolute;
	top: 0;
	right: 160px;
	z-index:1000000;
}

ul#rmenu li:hover ul ul,
ul#rmenu li.iehover ul ul {
	display: none;
}

ul#rmenu li:hover ul,
ul#rmenu ul li:hover ul,
ul#rmenu li.iehover ul,
ul#rmenu ul li.iehover ul {
	display: block;
}

